<mat-grid-list cols="4" rowHeight="2:2.5">
  <mat-grid-tile  *ngFor="let e of preferredShops">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><strong>{{ e.name }}</strong></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ e.picture }}" alt="Photo of the shop">
      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="onRemove(e)">REMOVE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator [length]="totalElements"
              [pageSize]="size"
              (page)="onPaginateChange($event)">
</mat-paginator>
